medialog.qrcode.egg-info/*
.DS_Store

medialog.qrcode.egg-info/namespace_packages.txt

Paste-1.7.5.1-py2.7.egg/*
*.pyc

PasteScript-1.7.5-py2.7.egg/
PasteDeploy-1.5.0-py2.7.egg/ 
PasteDeploy-1.5.0-py2.7.egg/*

PasteDeploy-1.5.0-py2.7.egg/ 
*.gz
 

medialog/qrcode/browser/qrview.pyc

medialog/qrcode/browser/__init__.pyc

medialog/qrcode/__init__.pyc
